<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link  rel="stylesheet" href="/styles/style.css">
</head>
<body class="fullpage">
    <nav class=" navbar-expand-lg navbar" data-bs-theme="dark">
       <img src="/images/productivity.png" alt="logo" class="logo"/>
       <div class="nav-div">
        <ul class="nav-list">
          <li class="nav-items"><a href="/" class="links">Home </a></li>
          <li class="nav-items"><a href="/#featuresection" class="links">Features</a> </li>
        </ul>
      </div>
      </nav>
      
      <form action="/signup" method="post" class="forms">
        <img src="/images/productivity.png" class="logo" style="margin-left:0px;"/>
        <h2 class="form-title" style="margin-left: 20px;color: white;">SignUp</h2>
          <label for="name" class="inputlabel">Name</label>
          <input type="text" name="name" class="inputl" required/>
          <label for="email" class="inputlabel" required>Email</label>
          <input type="email" name="email" class="inputl"/>
          <label for="role" class="inputlabel">Role</label>
          <input type="text" name="role" class="inputl"/>
          <label for="password" class="inputlabel">Password</label>
          <input type="password" name="password" class="inputl" required/>
          <input type ="submit" value="SignUp" class="btn btn-primary"/>
          <p style="font-size:10px; position: relative; left:40%;top:50%" ><a href="/login"class='links'>Existing User? Sign in here </a></p>
      </form>
      
           <div class="footer">
        <br><p class="footer-item">Developed to increase productivity</p>
        <a href="https://www.linkedin.com/in/srijan-k/"><img src="/images/linkedins.png" class="footer-item linkedin" /></a>
      </div>